<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <mat-card-title>{{mode}} your post here:</mat-card-title>
    <mat-form-field floatLabel="never"> <!-- remove the float label-->
        <input matInput type="text"
          placeholder="Title"
          name='title'
          required
          minlength="4"
          [ngModel]="post?.title"
          #title="ngModel">

        <mat-error *ngIf="title.invalid">
            <mat-error *ngIf="title?.errors.required">
              Title is required!
            </mat-error>
            <mat-error *ngIf="title?.errors.minlength">
              Title needs at least 4 characters !
            </mat-error>
        </mat-error>
    </mat-form-field>
    <mat-form-field floatLabel="never">
        <textarea
           matInput
           rows="6"
           name="content"
           minlength="3"
           [ngModel]="post?.content"
           required
           placeholder="Content"
           #content="ngModel">
        </textarea>
        <mat-error *ngIf="content.invalid && (content.dirty || content.touched)">
          <div *ngIf="content?.errors.required">
              Content is required!
            </div>
          <div *ngIf="content?.errors.minlength">
              Content needs at least 4 characters !
          </div>
        </mat-error>
    </mat-form-field>
    <div class="img-loader">
      <button (click)="filePicker.click()" mat-stroked-button type="button" color="primary">Upload Image</button>
      <input type="file" #filePicker> <!--localRef is filePicker-->
    </div>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="postForm.invalid">Save Post</button>
     <!--I really prefer disable the submit button when its still invalid input!-->

  </form>
</mat-card>
