<mat-accordion multi="true" *ngIf="posts.length > 0">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
     {{post.title}}
    </mat-expansion-panel-header>
    <p>{{post.content}}<p>
    <mat-action-row>
      <a [routerLink]="['/edit', post.id]" color="primary" mat-raised-button>EDIT</a>
      <!--Edit became link now, point to edit link however, which also use postCreateForm compo-->
      <button color="warn" (click)="onDelete(post.id)" mat-raised-button>DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<p class="info-txt mat-body-1" *ngIf="posts.length<=0" >No Posts added yet!</p>
